<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Marturie- custom testimonial/review" />
  <meta name="keywords" content="testimonial,ui kit,review,,custom testimonial,Marturie" />
  <meta name="author" content="theThemely | theThemely.com" />
  <title>Marturie- custom testimonial/review</title>

  <!-- bootstrap css -->
  <link rel="stylesheet" href="css/bootstrap.min.css" />

  <!-- google font -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet" />
  <!-- fontawesome -->
  <link rel="stylesheet" href="fontawesome/css/all.min.css" />
  <!-- main css -->
  <link rel="stylesheet" href="css/custom.css" />
</head>

<body>

  <!-- testimonial version 1 -->
  <section class="review1" id="one">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section-heading1">
            <h2 class="header">Testimonial version 1</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <div class="single-review1">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
              ullamcorper eros ligula, eu commodo sapien rhoncus ut. Maecenas
              viverra libero id justo porttitor, ut mqutie leo.
            </p>
            <div class="review-meta1">
              <div class="review-meta-img1">
                <img src="img/1.png" alt="review avatar" />
              </div>
              <div class="review-text1">
                <h4>theThemely</h4>
                <p>CEO of TheThemes</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <div class="single-review1">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
              ullamcorper eros ligula, eu commodo sapien rhoncus ut. Maecenas
              viverra libero id justo porttitor, ut mqutie leo.
            </p>
            <div class="review-meta1">
              <div class="review-meta-img1">
                <img src="img/1.png" alt="review avatar" />
              </div>
              <div class="review-text1">
                <h4>theThemely</h4>
                <p>CEO of TheThemes</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- testimonial version 2 -->
  <section class="review2" id="two">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section-heading1">
            <h2 class="header">Testimonial version 2</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <div class="single-review2">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
              ullamcorper eros ligula, eu commodo sapien rhoncus ut. Maecenas
              viverra libero id justo porttitor, ut mqutie leo.
            </p>
            <div class="review-meta2">
              <div class="review-text2">
                <h4>theThemely</h4>
                <p>CEO of TheThemes</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <div class="single-review2">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
              ullamcorper eros ligula, eu commodo sapien rhoncus ut. Maecenas
              viverra libero id justo porttitor, ut mqutie leo.
            </p>
            <div class="review-meta2">
              <div class="review-text2">
                <h4>theThemely</h4>
                <p>CEO of TheThemes</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- testimonial version 3 -->

  <section class="review3" id="three">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section-heading1">
            <h2 class="header">Testimonial version 3</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-4">
          <div class="single-review3">
            <div class="base-class3">
              <div class="image3 d-flex align-items-center justify-content-center">
                <div class="img-13">
                  <img src="img/2.jpg" alt="" class="img-fluid p-0" />
                </div>
                <div class="img-txt3">
                  <div class="img-txt-13">
                    <h1>Jone Rocks</h1>
                    <p>Managing Director ABC Ltd</p>
                  </div>
                </div>
                <div class="overlay3 d-flex justify-content-center align-items-center">
                  <span> <i class="fas fa-quote-left"></i></span>
                </div>
              </div>
              <div class="txt3">
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Officiis dicta dignissimos reiciendis quod laudantium
                  adipisci.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="single-review3">
            <div class="base-class3">
              <div class="image3 d-flex align-items-center justify-content-center">
                <div class="img-13">
                  <img src="img/2.jpg" alt="" class="img-fluid p-0" />
                </div>
                <div class="img-txt3">
                  <div class="img-txt-13">
                    <h1>Jone Rocks</h1>
                    <p>Managing Director ABC Ltd</p>
                  </div>
                </div>
                <div class="overlay3 d-flex justify-content-center align-items-center">
                  <span> <i class="fas fa-quote-left"></i></span>
                </div>
              </div>
              <div class="txt3">
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Officiis dicta dignissimos reiciendis quod laudantium
                  adipisci.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="single-review3">
            <div class="base-class3">
              <div class="image3 d-flex align-items-center justify-content-center">
                <div class="img-13">
                  <img src="img/2.jpg" alt="" class="img-fluid p-0" />
                </div>
                <div class="img-txt3">
                  <div class="img-txt-13">
                    <h1>Jone Rocks</h1>
                    <p>Managing Director ABC Ltd</p>
                  </div>
                </div>
                <div class="overlay3 d-flex justify-content-center align-items-center">
                  <span> <i class="fas fa-quote-left"></i></span>
                </div>
              </div>
              <div class="txt3">
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Officiis dicta dignissimos reiciendis quod laudantium
                  adipisci.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- testimonial version 4 -->
  <section class="review4" id="four">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section-heading1">
            <h2 class="header">Testimonial version 4</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <div class="single-review4">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
              ullamcorper eros ligula, eu commodo sapien rhoncus ut. Maecenas
              viverra libero id justo porttitor, ut mqutie leo.
            </p>
            <div class="review-meta4">
              <div class="review-text4">
                <h4>theThemely</h4>
                <p>CEO of TheThemes</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <div class="single-review4">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
              ullamcorper eros ligula, eu commodo sapien rhoncus ut. Maecenas
              viverra libero id justo porttitor, ut mqutie leo.
            </p>
            <div class="review-meta4">
              <div class="review-text4">
                <h4>theThemely</h4>
                <p>CEO of TheThemes</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- testimonial version 5 -->
  <section class="review5" id="five">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section-heading1">
            <h2 class="header">Testimonial version 5</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-3">
          <div class="overlay5">
            <div class="single-review5">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                ullamcorper eros ligula, eu commodo sapien rhoncus ut.
                Maecenas viverra libero id justo porttitor, ut mqutie leo.
              </p>
              <div class="review-meta5">
                <div class="review-text5">
                  <h4>theThemely</h4>
                  <p>CEO of TheThemes</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3">
          <div class="overlay5">
            <div class="single-review5">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                ullamcorper eros ligula, eu commodo sapien rhoncus ut.
                Maecenas viverra libero id justo porttitor, ut mqutie leo.
              </p>
              <div class="review-meta5">
                <div class="review-text5">
                  <h4>theThemely</h4>
                  <p>CEO of TheThemes</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3">
          <div class="overlay5">
            <div class="single-review5">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                ullamcorper eros ligula, eu commodo sapien rhoncus ut.
                Maecenas viverra libero id justo porttitor, ut mqutie leo.
              </p>
              <div class="review-meta5">
                <div class="review-text5">
                  <h4>theThemely</h4>
                  <p>CEO of TheThemes</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3">
          <div class="overlay5">
            <div class="single-review5">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                ullamcorper eros ligula, eu commodo sapien rhoncus ut.
                Maecenas viverra libero id justo porttitor, ut mqutie leo.
              </p>
              <div class="review-meta5">
                <div class="review-text5">
                  <h4>theThemely</h4>
                  <p>CEO of TheThemes</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- testimonial version 6-->

  <section class="review6" id="six">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section-heading1">
            <h2 class="header">Testimonial version 6</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="single-review6">
            <div class="base-class6">
              <div class="image6 d-flex align-items-center justify-content-center">
                <div class="img-16">
                  <img src="img/2.jpg" alt="" class="img-fluid p-0" />
                </div>
                <div class="img-txt6">
                  <div class="img-txt-16 d-flex align-items-center justify-content-center">
                    <p>
                      Lorem ipsum, dolor sit amet consectetur adipisicing
                      elit. Officiis dicta dignissimos reiciendis quod
                      laudantium adipisci.
                    </p>
                  </div>
                </div>
                <div class="overlay6 d-flex justify-content-center align-items-center">
                  <img src="img/1.png" alt="" class="img-fluid p-0" />
                </div>
              </div>
              <div class="txt6">
                <h1>Jone Rocks</h1>
                <p>Managing Director ABC Ltd</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="single-review6">
            <div class="base-class6">
              <div class="image6 d-flex align-items-center justify-content-center">
                <div class="img-16">
                  <img src="img/2.jpg" alt="" class="img-fluid p-0" />
                </div>
                <div class="img-txt6">
                  <div class="img-txt-16 d-flex align-items-center justify-content-center">
                    <p>
                      Lorem ipsum, dolor sit amet consectetur adipisicing
                      elit. Officiis dicta dignissimos reiciendis quod
                      laudantium adipisci.
                    </p>
                  </div>
                </div>
                <div class="overlay6 d-flex justify-content-center align-items-center">
                  <img src="img/1.png" alt="" class="img-fluid p-0" />
                </div>
              </div>
              <div class="txt6">
                <h1>Jone Rocks</h1>
                <p>Managing Director ABC Ltd</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- testimonial version 7-->
  <section class="review7" id="seven">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section-heading1">
            <h2 class="header">Testimonial version 7</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="single-review7">
            <div class="base-class7">
              <div class="image7 d-flex align-items-center justify-content-center">
                <div class="img-17">
                  <img src="img/bg7.jpg" alt="" class="img-fluid p-0" />
                </div>
                <div class="img-txt7">
                  <div class="img-txt-17 d-flex align-items-center justify-content-center">
                    <p>
                      Lorem ipsum, dolor sit amet consectetur adipisicing
                      elit. Officiis dicta dignissimos reiciendis quod
                      laudantium adipisci.
                    </p>
                  </div>
                </div>
                <div class="overlay7 d-flex justify-content-center align-items-center">
                  <img src="img/avatar7.png" alt="" class="img-fluid p-0" />
                </div>
              </div>
              <div class="txt7">
                <h1>Jone Rocks</h1>
                <p>Managing Director ABC Ltd</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="single-review7">
            <div class="base-class7">
              <div class="image7 d-flex align-items-center justify-content-center">
                <div class="img-17">
                  <img src="img/bg7.jpg" alt="" class="img-fluid p-0" />
                </div>
                <div class="img-txt7">
                  <div class="img-txt-17 d-flex align-items-center justify-content-center">
                    <p>
                      Lorem ipsum, dolor sit amet consectetur adipisicing
                      elit. Officiis dicta dignissimos reiciendis quod
                      laudantium adipisci.
                    </p>
                  </div>
                </div>
                <div class="overlay7 d-flex justify-content-center align-items-center">
                  <img src="img/avatar7.png" alt="" class="img-fluid p-0" />
                </div>
              </div>
              <div class="txt7">
                <h1>Jone Rocks</h1>
                <p>Managing Director ABC Ltd</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- testimonial version 8-->
  <section class="review8" id="eight">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section-heading1">
            <h2 class="header">Testimonial version 8</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="single-review8">
            <div class="base-class8">
              <div class="overlay8 d-flex justify-content-center align-items-center">
                <img src="img/1.png" alt="" class="img-fluid p-0" />
              </div>

              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Officiis dicta dignissimos reiciendis quod laudantium
                adipisci.
              </p>

              <div class="txt8">
                <h1>Jone Rocks</h1>
                <p>Managing Director ABC Ltd</p>
              </div>

              <div class="overlay-28 d-flex justify-content-center align-items-center"></div>
              <div class="overlay-38 d-flex justify-content-center align-items-center"></div>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-6">
          <div class="single-review8">
            <div class="base-class8">
              <div class="overlay8 d-flex justify-content-center align-items-center">
                <img src="img/1.png" alt="" class="img-fluid p-0" />
              </div>

              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Officiis dicta dignissimos reiciendis quod laudantium
                adipisci.
              </p>

              <div class="txt8">
                <h1>Jone Rocks</h1>
                <p>Managing Director ABC Ltd</p>
              </div>

              <div class="overlay-28 d-flex justify-content-center align-items-center"></div>
              <div class="overlay-38 d-flex justify-content-center align-items-center"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- testimonial version 9-->
  <section class="review9" id="nine">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section-heading1">
            <h2 class="header">Testimonial version 9</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="single-review9">
            <div class="base-class9">
              <div class="overlay9 d-flex justify-content-center align-items-center">
                <img src="img/avatar.png" alt="" class="img-fluid p-0" />
              </div>

              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Officiis dicta dignissimos reiciendis quod laudantium
                adipisci.
              </p>

              <div class="txt9">
                <h1>Jone Rocks</h1>
                <p>Managing Director ABC Ltd</p>
              </div>

              <div class="overlay-29 d-flex justify-content-center align-items-center"></div>
              <div class="overlay-39 d-flex justify-content-center align-items-center"></div>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-6">
          <div class="single-review9">
            <div class="base-class9">
              <div class="overlay9 d-flex justify-content-center align-items-center">
                <img src="img/avatar.png" alt="" class="img-fluid p-0" />
              </div>

              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Officiis dicta dignissimos reiciendis quod laudantium
                adipisci.
              </p>

              <div class="txt9">
                <h1>Jone Rocks</h1>
                <p>Managing Director ABC Ltd</p>
              </div>

              <div class="overlay-29 d-flex justify-content-center align-items-center"></div>
              <div class="overlay-39 d-flex justify-content-center align-items-center"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- testimonial version 10-->
  <section class="review10" id="ten">
    <div class="bg-color10">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <div class="section-heading1 pb-4">
              <h2 class="header">Testimonial version 10</h2>
            </div>
          </div>
        </div>
        <div class="row align-items-center justify-content-center">
          <div class="col-12 col-lg-7">
            <div class="single-review10">
              <div class="base-class10">
                <div class="overlay10 d-flex justify-content-center align-items-center">
                  <img src="img/avatar.png" alt="" class="img-fluid p-0" />
                </div>

                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Debitis, nobis sunt quod vero itaque, numquam autem harum et
                  sint, voluptatem officiis sed aut placeat illo tenetur
                  aspernatur quo enim rerum!
                </p>

                <div class="txt10">
                  <h1>Jone Rocks</h1>
                  <p>Managing Director ABC Ltd</p>
                </div>

                <div class="overlay-210 d-flex justify-content-center align-items-center"></div>
                <div class="overlay-310 d-flex justify-content-center align-items-center"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- testimonial version 11-->
  <section class="review11" id="eleven">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section-heading1">
            <h2 class="header">Testimonial version 11</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="single-review11">
            <div class="base-class11">
              <div class="overlay11 d-flex justify-content-center align-items-center">
                <i class="fas fa-quote-left"></i>
              </div>

              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Officiis dicta dignissimos reiciendis quod laudantium
                adipisci.
              </p>

              <div class="txt11">
                <h1>Jone Rocks</h1>
                <p>Managing Director ABC Ltd</p>
              </div>

              <div class="overlay-211 d-flex justify-content-center align-items-center"></div>
              <div class="overlay-311 d-flex justify-content-center align-items-center"></div>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-6">
          <div class="single-review11">
            <div class="base-class11">
              <div class="overlay11 d-flex justify-content-center align-items-center">
                <i class="fas fa-quote-left"></i>
              </div>

              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Officiis dicta dignissimos reiciendis quod laudantium
                adipisci.
              </p>

              <div class="txt11">
                <h1>Jone Rocks</h1>
                <p>Managing Director ABC Ltd</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- testimonial version 12-->
  <section class="review12" id="twelve">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section-heading1">
            <h2 class="header">Testimonial version 12</h2>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-review12">
            <div class="base-class12">
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Officiis dicta dignissimos reiciendis quod laudantium
                adipisci.
              </p>

              <div class="txt12">
                <h1>Jone Rocks</h1>
                <p>Managing Director ABC Ltd</p>
              </div>

              <div class="overlay-212 d-flex justify-content-center align-items-center"></div>
              <div class="overlay-312 d-flex justify-content-center align-items-center"></div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-review12">
            <div class="base-class12">
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Officiis dicta dignissimos reiciendis quod laudantium
                adipisci.
              </p>

              <div class="txt12">
                <h1>Jone Rocks</h1>
                <p>Managing Director ABC Ltd</p>
              </div>

              <div class="overlay-212 d-flex justify-content-center align-items-center"></div>
              <div class="overlay-312 d-flex justify-content-center align-items-center"></div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-review12">
            <div class="base-class12">
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Officiis dicta dignissimos reiciendis quod laudantium
                adipisci.
              </p>

              <div class="txt12">
                <h1>Jone Rocks</h1>
                <p>Managing Director ABC Ltd</p>
              </div>

              <div class="overlay-212 d-flex justify-content-center align-items-center"></div>
              <div class="overlay-312 d-flex justify-content-center align-items-center"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- testimonial version 13-->
  <section class="review13" id="thirteen">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section-heading1">
            <h2 class="header">Testimonial version 13</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
          <div class="single-review13">
            <div class="image13 d-flex d-inline-block">
              <img src="img/1.png" alt="image" />
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                ullamcorper eros ligula, eu commodo sapien rhoncus ut.
                Maecenas viverra libero id justo porttitor, ut mqutie leo.
              </p>
            </div>

            <div class="review-meta13">
              <div class="review-text13">
                <h4>theThemely</h4>
                <p>CEO of TheThemes</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
          <div class="single-review13">
            <div class="image13 d-flex d-inline-block">
              <img src="img/1.png" alt="image" />
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                ullamcorper eros ligula, eu commodo sapien rhoncus ut.
                Maecenas viverra libero id justo porttitor, ut mqutie leo.
              </p>
            </div>

            <div class="review-meta13">
              <div class="review-text13">
                <h4>theThemely</h4>
                <p>CEO of TheThemes</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- testimonial version 14-->
  <section class="review14" id="fourteen">
    <div class="overlay14">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <div class="section-heading1">
              <h2 class="header">Testimonial version 14</h2>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="single-review14">
              <div class="image14 d-flex d-inline-block">
                <img src="img/1.png" alt="image" />
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Nunc ullamcorper eros ligula.
                </p>
              </div>

              <div class="review-meta14">
                <div class="review-text14">
                  <h4>theThemely</h4>
                  <p>CEO of TheThemes</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="single-review14">
              <div class="image14 d-flex d-inline-block">
                <img src="img/1.png" alt="image" />
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Nunc ullamcorper eros ligula.
                </p>
              </div>

              <div class="review-meta14">
                <div class="review-text14">
                  <h4>theThemely</h4>
                  <p>CEO of TheThemes</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="single-review14">
              <div class="image14 d-flex d-inline-block">
                <img src="img/1.png" alt="image" />
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Nunc ullamcorper eros ligula.
                </p>
              </div>

              <div class="review-meta14">
                <div class="review-text14">
                  <h4>theThemely</h4>
                  <p>CEO of TheThemes</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- testimonial version 15-->
  <section class="review15" id="fifteen">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section-heading1">
            <h2 class="header">Testimonial version 15</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <div class="single-review15">
            <div class="row justify-content-end">
              <div class="col-6 col-lg-6">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Magnam molestias iste laudantium quidem quos illo, sint eos
                  quam cupiditate placeat autem adipisci eum hic ipsa odit
                  deserunt consectetur inventore possimus?
                </p>

                <div class="review-meta15">
                  <div class="review-text15">
                    <h4>theThemely</h4>
                    <p>CEO of TheThemes</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- testimonial version 16-->
  <section class="review16" id="sixteen">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section-heading1">
            <h2 class="header">Testimonial version 16</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <div class="single-review16">
            <div class="row justify-content-end">
              <div class="col-6 col-lg-6">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Magnam molestias iste laudantium quidem quos illo, sint eos
                  quam cupiditate placeat autem adipisci eum hic ipsa odit
                  deserunt consectetur inventore possimus?
                </p>
                <div class="review-meta16">
                  <div class="review-text16">
                    <h4>theThemely</h4>
                    <p>CEO of TheThemes</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- footer start-->
  <footer>
    <div class="container">
      <div class="row text-center">
        <div class="col-md-10 col-xl-8 offset-md-1 offset-xl-2">
          <p>Copyright &copy; theThemely 2021 All rights reserved</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- bootstrap js -->
  <script src="js/bootstrap.bundle.min.js"></script>

  <!-- scroll js -->
  <script src="js/scrollPosStyler.min.js"></script>
  <script>
    ScrollPosStyler.init();
  </script>
</body>

</html>