/*---Testimonial 03---*/
.review3 {
  .single-review3 {
    background: $theme-color-white;
    margin-bottom: 40px;
    position: relative;
    -webkit-box-shadow: 0 10px 30px rgba(47, 72, 88, 0.2);
    box-shadow: 0 10px 30px rgba(47, 72, 88, 0.2);
    border-radius: 20px;
    .base-class3 {
      .image3 {
        position: relative;

        .img-13 {
          width: 100%;
          img {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            width: 100%;
          }
        }
        .img-txt3 {
          position: absolute;
          height: 100%;
          width: 100%;

          .img-txt-13 {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            height: 50%;
            width: 50%;
            transition: 0.2s all ease-in-out;
            h1 {
              font-size: 30px;
              text-align: center;
              color: $theme-color-white;
            }
            p {
              text-align: center;
              color: $theme-color-white;
            }
          }

          &:hover {
            background: rgba($theme-color-black, 0.8);
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            transition: 0.2s all ease-in-out;
          }
        }
      }
      .txt3 {
        text-align: center;
        p {
          padding: 30px 40px;
          font-size: 17px;
          line-height: 40px;
          color: $theme-color-black;
          font-weight: 600;
          font-style: italic;
          margin-bottom: 0;
        }
      }
    }
    .overlay3 {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 50%);
      bottom: 0;
      background: rgba(0, 17, 255, 0.8);
      height: 50px;
      width: 50px;
      border-radius: 50%;

      i {
        color: $theme-color-white;
        font-size: 30px;
      }
    }
  }
}
@media (max-width: 575.98px) {
  .review3 {
    .single-review3 {
      .base-class3 {
        .image3 {
          .img-txt3 {
            .img-txt-13 {
              h1 {
                font-size: 15px;
              }
              p {
                font-size: 12px;
              }
            }
          }
        }
        .txt3 {
          p {
            line-height: 15px;
            padding: 30px 40px;
            font-size: 13px;
          }
        }
      }
    }
  }
}
